Your Board:

<% def cell_mark(row, column)
    if session[:player].misses.include?(column + row.to_s)
      return "o"
    elsif session[:player].hits.include?(column + row.to_s)
      return "*"
    else
     "~"
    end
  end %>

<table id='board'>
  <tr>
    <td></td>
    <% ("A".."J").each do |letter| %>
      <td> <%= letter %> </td>
    <% end %>
  </tr>

  <% (1..10).each do |row| %>
    <tr><td> <%= row %> </td>
      <% ("A".."J").each do |col| %>
        <td> <%= cell_mark(row, col) %> </td>
      <% end %>
    </tr>
  <% end %>
</table>

Computers Board:
Psssst here's a hint -> <%= shippys = "";session[:computer].board.ships.each { |ship| shippys << ship.start_position}; shippys %>

<% def cell_mark(row, column)
    if session[:computer].misses.include?(column + row.to_s)
      return "o"
    elsif session[:computer].hits.include?(column + row.to_s)
      return "*"
    else
     "~"
    end
  end %>

<table id='board'>
  <tr>
    <td></td>
    <% ("A".."J").each do |letter| %>
      <td> <%= letter %> </td>
    <% end %>
  </tr>

  <% (1..10).each do |row| %>
    <tr><td> <%= row %> </td>
      <% ("A".."J").each do |col| %>
        <td> <%= cell_mark(row, col) %> </td>
      <% end %>
    </tr>
  <% end %>
</table>




